* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;


}

.suscripcion {
	width: 400px;
	background: white;
	padding: 30px;
	margin: auto;

	border-radius: 4px;
	font-family: 'calibri';
	color: white;
	box-shadow: 7px 13px 37px #000;


}

body {
	background: linear-gradient(to bottom right, #1f4037, #99f2c8);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
  overflow: hidden;
  display: flex;
  margin: 0;
  padding: 0;

}

.suscripcion h4 {

	font-size: 22px;
	margin-bottom: 20px;
	color: gray;
}

.controles{

	width: 100%;
	background: white;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 16px;
	border: 1px solid green;
	font-family: 'calibri' ;
	font-size: 18px;

}


.suscripcion a {

	color: white;
	text-decoration: none;
}


.suscripcion a:hover {

	color: white;
	text-decoration: underline;
}


.suscripcion .boton-suscripcion {

	width: 100%;
	background: green;
	border: none;
	padding: 12px;
	color: white;
	margin: 16px 0;
	font-size: 16px;
}

