body {
  background-image: url('../Imagenes/login.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

h1 {
  text-align: center;
  color: aliceblue;
}

.formulario-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 400px;
  margin: 0 auto;
  border: 1px solid white;
  padding: 20px 10px;
  color: white;
}

.formulario-login label {
  font-size: 20px;
}

.formulario-login input {
  width: 100%;
  height: 30px;
  margin-bottom: 30px;
}

.formulario-login button {
  font-size: 20px;
  cursor: pointer;
  padding: 10px 20px;
}

@media screen and (min-width: 400px){
  .formulario-login {
      width: 350px;
  }
}

@media screen and (min-width: 400px){
  .formulario-login {
      width: 400px;
  }
}